<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bank Card Handler</title>
</head>

<body>
  <h1>Bank Card Handler</h1>
  <form>
    <h2>Register</h2>
    <div>
      Card Type: <input type="text" name="cardType"><br>
      CardNumber: <input type="number" name="cardNumber"><br>
      Valid through: <input type="text" name="validThru"><br>
      CVV: <input type="password" name="CVV"><br>
      Owner: <input type="text" name="owner"><br>
      Contact info: <input type="text" name="contactInfo"><br>
      Contact type: <input type="number" name="contactType"><br>
      <button type="submit">Bid</button>
    </div>
  </form>
  <script src="index.js"></script>
</body>

</html>