div {
	width : 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	align-
	display: flex;
	flex-direction: column;
	justify-content: center;

}

html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
}

nav {
	display: flex;
	justify-content: space-between;
}

select,
input {
	background-color: lightgrey;
	border-radius: 10px;
	height: 20px;
	padding: 5px;
	border-color: darkgrey;
}

button {
		background: lightgrey;
		border-radius: 15px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color: black;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 145px;
		margin:0px auto;
		-webkit-transition:box-shadow 0.5s;
	}
	button i{
		float: right;
		margin-top: 2px;
	}
